.navBarContainer {
  grid-template-columns: repeat(1, 100%);
  grid-template-areas: 'a';
  padding-left: 1.25%;
  padding-right: 1.8%;
  background-color: white;
  /* Added white background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Added elevation effect */
}

.custBrand {
  cursor: pointer;
}

.headerContainer {
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 20% 80%;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.188rem;
  line-height: 1.5rem;
  letter-spacing: 0px;
  color: #4c2911;
  opacity: 1;
}

.headerIconContainer {
  grid-area: a;
}

.bannerImage {
  max-width: 83px;
}

.bannerText {
  justify-self: start;
  align-self: center;
  grid-area: b;
  text-align: center;
}

.customNavItem {
  text-align: left;
  font: normal normal 600 16px/19px Raleway;
  letter-spacing: 0px;
  color: #616057;
}

.supportButton {
  padding-left: 0.75rem
    /* 12px */
  ;
  padding-right: 0.75rem
    /* 12px */
  ;
  padding-top: 0.5rem
    /* 8px */
  ;
  padding-bottom: 0.5rem
    /* 8px */
  ;
  border-radius: 9999px;
  background-color: #044884;
  cursor: pointer;
  color: white;
}

.navBarTop {
  z-index: 50;
}


.customTogglerIcon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-color: rgb(83, 47, 0);
  /* Blue color */
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") no-repeat center;
}

.navItems>a {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

@media (max-width: 1700px) {
  .navItems>a {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media (max-width: 1540px) {
  .navItems>a {
    padding-left: 0.8rem !important;
    padding-right: 0.8rem !important;
  }
}

@media (max-width: 1471px) {
  .navBarContainer {
    padding-left: 9.25%;
    padding-right: 8.8%;
  }

  .navItems>a {
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;
  }
}

@media (max-width: 1372px) {
  .navBarContainer {
    padding-left: 6.25%;
    padding-right: 5.8%;
  }

  .navItems>a {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}

@media (max-width: 1249px) {
  .navBarContainer {
    padding-left: 5.25%;
    padding-right: 4.8%;
  }

  .navItems>a {
    padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
  }
}

@media (max-width: 1199px) {
  .navBarContainer {
    padding-left: 6.25%;
    padding-right: 5.8%;
  }

  .headerContainer {
    font-size: 1.125rem;
    line-height: 1.4rem;
  }

  .bannerImage {
    max-width: 73px;
  }
}

@media (max-width: 575px) {
  .navBarContainer {
    padding-left: 5.25%;
    padding-right: 4.8%;
  }

  .navItems>a {
    padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
  }

  .headerContainer {
    font: normal normal bold 12px/14px Raleway;
    letter-spacing: 0px;
  }

  .bannerImage {
    max-width: 44px;
  }
}

/* styles.module.css */

/* Style the navbar toggler button (outline) */
.navToggle {
  border-color: rgb(83, 47, 0) !important;
  border-width: 3px !important;
  /* Change outline color to red */
}

/* Style the hamburger icon lines */
.navToggle .navbar-toggler-icon {
  background-image: none;
  /* Remove default icon */
  position: relative;
}

/* Create custom hamburger lines using pseudo-elements */
.navToggle .navbar-toggler-icon::before,
.navToggle .navbar-toggler-icon::after,
.navToggle .navbar-toggler-icon span {
  background-color: rgb(83, 47, 0) !important;
  /* Change hamburger lines to green */
  height: 10px;
  /* Thickness of lines */
  width: 20px;
  /* Width of lines */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: '';
}